/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2015, 9:55:41 PM
    Author     : Yufan
*/
.red{
    color: red;
}

.searchBox {
     width:500px;
     margin-top: 130px;
     margin-left: 120px;
     z-index: 100;
}

.search,.submit {
    float: left;
}
 
.search {
    padding:20px 90px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    width: 200px;
    font: normal 17px 'trebuchet MS', arial, helvetica;
    
}

.submit {

    position:relative;
    padding:21px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#000000;
    color:#000000;
    
}

.submit:hover {       
     background-color:#fafafa;
     color:#207cca;
   
}   

.submit:active {       
    background: #FFFFFF;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

.submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
}
      
.background{       
    /*background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6,#CCCCCC,#B2B2B2,#4C4C4C);*/ 
    position: absolute;
    min-height:100%;
    /*background-size: fixed;*/
    background-repeat: no-repeat;        
    top: 195px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.content{
    position: absolute;
    left:0%;
    right:0%;
    top:5%;
    bottom:0%;
    
}
.option {
    position: absolute;
    top:20%;
    right:10%; 
    z-index: 100;
}
.logo {
    position:absolute;
    left:25px;
    top:20px;
    z-index: 100;
}
.webname {
    position:absolute;
    left:240px;
    right: 300px;
    top:0px;
    z-index: 100;
}
.media {
    position: fixed;
    right:0px;
}
.socialMedia img{
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display:table-column;
}
               
